/*Grafik 1*/
.chart-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chart {
    width: 800px;
    max-width: 100%;
}